<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロトタイプ編集</h2>
      <% if @protospace.errors.any? %>
        <div class="error-message">
          <ul>
            <% @protospace.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= render partial: "form", locals: { protospace: @protospace } %>
    </div>
  </div>
</div>